*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
body{
    background-image: url(../img/win\ xp\ wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100hv;
    width: 100vw;
}
body.none{
    display: none;
}
main{
    /* background-image: url(../img/win\ xp\ wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px; */
    height: 100vh;
    width: 100vw;
}
.taskbar{
    height: 45px;
    position: absolute;
    bottom: 0px;
    margin: 0%;
    padding: 0%;
    background-color: rgb(65, 109, 204);
    align-items: center;
    overflow: hidden;
    box-shadow: 5px 0px 5px 0px rgb(47, 83, 161) inset;

}

.logo_icon{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100px;
}.logo_icon a{
    width: 100%;
    border-top-right-radius: 100px;
    box-shadow: 0px 3px 20px 0px rgb(17, 77, 2) inset;

    border-bottom-right-radius: 100px;
}
.logo_icon a:hover{
    background-color: rgba(0, 128, 0, 0.445);
    box-shadow: 5px 0px 5px 0px white;

}
.logo_icon img{
width: 25px;
height: 25px;
}
.start_div{
    transition: all 0.5 ease;

}
.start_div:hover{
    
}
/* -------------------------------------------------------------------------------- */
.task_search{
    border-radius: 10px;
    border: none;
    background-image:url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x:10px ;
    background-color: rgba(224, 221, 221, 0.507);
    filter: blur(100%);
    padding:2%;

}
.task_search:hover{
    /* background-color: rgb(207, 205, 203); */
    background-color: rgba(224, 221, 221, 0.322);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.658);


}
.task_search::placeholder{
padding-left:15%;
font-size: 11px;
color: black;
}
.task_search:focus{
    outline: none;
    
    /* background-color: transparent; */
    
}
/* ---------------------------------------------------------------------------- */
.task_li_img img{
    margin-top: '0px';
    cursor: pointer;
}
.hr{
    background-color: rgba(255, 255, 255, 0.719);
    width: 2px;
    height: 25px;
    margin-left: 5px;
}

